[submodule "BALROG"]
	path = BALROG
	url = git@github.com:threewisemonkeys-as/BALROG.git
[submodule "MARAProtocol"]
	path = MARAProtocol
	url = git@github.com:threewisemonkeys-as/MARAProtocol.git
	branch = bai-integration
[submodule "Autumn.cpp"]
	path = Autumn.cpp
	url = https://github.com/BasisResearch/Autumn.cpp.git
[submodule "RGB-Agent"]
	path = RGB-Agent
	url = git@github.com:threewisemonkeys-as/RGB-Agent.git
[submodule "cc_craftax/craftax-code"]
	path = cc_craftax/craftax-code
	url = git@github.com:threewisemonkeys-as/craftax-code.git
[submodule "cc_nle/nle-code"]
	path = cc_nle/nle-code
	url = git@github.com:threewisemonkeys-as/nle-code.git
